{
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "always",
  "parser": "typescript",
  "singleAttributePerLine": true
}
